@import "https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Nanum+Pen+Script&display=swap";
@import "config";
* {
    padding: 0;
    margin: 0;
    color: $Color-secondary;
    scroll-behavior: smooth;
}
:root {
    color-scheme: dark;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    overflow-x: hidden;
    font-size: 1.6rem;
}
