$Color-primary: rgb(37, 37, 37);
$Color-secondary: rgb(210, 210, 210);

$Color-additional: rgb(75, 59, 124);

$Whitespace-l: 5rem;
$Whitespace-m: 3rem;
$Whitespace-s: 1rem;

$Bp-footer-l: 40.625em;
$Bp-footer-m: 27.25em;

$Bp-header-xs: 25.438em;

$bp-height-xl: 53.688em;
$bp-height-l: 39.438em;
$bp-height-m: 29em;
