$Color-primary: rgb(37, 37, 37);
$Color-secondary: rgb(210, 210, 210);

$Color-additional: rgb(75, 59, 124);

$Whitespace-l: 5rem;
$Whitespace-m: 3rem;

$Bp-footer-l: 40.625em;
$Bp-footer-m: 27.25em;
$Bp-logo-s: 23.75em;
